<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VKellog's</title>
    <link rel="stylesheet" href="./Products.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../assets/Spilled Cereal Bowl.svg" />
  </head>
  <body>
    <nav>
      <div class="logo-container">
        <img class="logo" src="../../assets/Logo.svg" />
      </div>

      <input class="mobile-menu" type="checkbox" id="mobile-menu" />
      <label class="hamburger" for="mobile-menu">
        <div class="ham-button"></div>
      </label>

      <div class="menu">
        <ul class="page-link">
          <li class="link-container">
            <a class="link" href="../../index.html">Home</a>
          </li>
          <li>
            <a class="origin" href="#">Products</a>
          </li>
          <li class="link-container">
            <a class="link" href="../recipes/Recipes.html">Recipes</a>
          </li>
          <li class="link-container">
            <a class="link" href="../about-us/AboutUs.html">About Us</a>
          </li>
          <li class="link-container">
            <a class="link" href="../contact_us/ContactUs.html"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <div class="products-container">
        <div class="toggle">
          <div class="toggle-button" id="adults-toggle-button">
            <label
              for="adult-product-input"
              role="tab"
              tabindex="0"
              id="adults-toggle"
              >Adults Products
            </label>
          </div>
          <div class="toggle-button" id="kids-toggle-button">
            <label
              for="kids-product-input"
              role="tab"
              tabindex="0"
              id="kids-toggle"
            >
              Kids Products
            </label>
          </div>
        </div>

        <div class="product-list">
          <div class="product-content" id="adult-product">
            <input
              type="radio"
              class="product-switch"
              name="tabs"
              id="adult-product-input"
              checked
            />
            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Corn Flakes.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Corn Flakes Cereal</p>
                  <p class="product-size">
                    Available Sizes <br />
                    40 g | 200 g | 400 g | 500 g | 750 g | 1000 g | 1200 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/All Bran Flakes.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® All-Bran® Flakes</p>
                  <p class="product-size">
                    Available Sizes <br />
                    200 g | 400 g | 500 g | 750 g | 1000 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img
                  src="../../assets/Products/All Bran Fruit & Oat Crunch.png"
                  alt=""
                />

                <div class="product-desc">
                  <p class="product-name">
                    VKellogg's® All-Bran® Fruit & Oats Crunch
                  </p>
                  <p class="product-size">
                    Available Sizes <br />
                    400 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img
                  src="../../assets/Products/Granola Cinnamon Crunch.png"
                  alt=""
                />

                <div class="product-desc">
                  <p class="product-name">
                    VKellogg's® Granola Cinnamon Crunch
                  </p>
                  <p class="product-size">
                    Available Sizes <br />
                    400 g | 700 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/All Bran High Fiber.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® All-Bran® Hi-Fibre®</p>
                  <p class="product-size">
                    Available Sizes <br />
                    375 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Granola Bar.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">
                    VKellogg's® Cranberry & Linseed Granola Bar
                  </p>
                  <p class="product-size">
                    Available Sizes <br />
                    5 x 44 g | 44 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Granola Cocoa Delight.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Granola Cocoa Delight</p>
                  <p class="product-size">
                    Available Sizes <br />
                    400 g | 700 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Tropical Burst Granola.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Granola Tropical Burst</p>
                  <p class="product-size">
                    Available Sizes <br />
                    450 g
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="product-content" id="kids-product">
            <input
              type="radio"
              class="product-switch"
              name="tabs"
              id="kids-product-input"
            />
            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Coco Pops.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Coco Pops® Cereal</p>
                  <p class="product-size">
                    Available Sizes <br />
                    350 g | 500 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Froot Loops.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg’s® Froot Loops® Breakfast</p>
                  <p class="product-size">
                    Available Sizes <br />
                    200 g | 400 g | 500 g | 750 g | 1000 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Strawberry Pops.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Strawberry Pops®</p>
                  <p class="product-size">
                    Available Sizes <br />
                    350 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Rice Krispies.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">Kellogg's® Rice Krispies® Original</p>
                  <p class="product-size">
                    Available Sizes <br />
                    510 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Coco Pops Chocos.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Coco Pops® Choc'o's®</p>
                  <p class="product-size">
                    Available Sizes <br />
                    25 g | 350 g | 500 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Coco Pops Fills.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Coco Pops® Fills</p>
                  <p class="product-size">
                    Available Sizes <br />
                    350 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Coco Pops Big 5.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">Kellogg's® Coco Pops® Big 5</p>
                  <p class="product-size">
                    Available Sizes <br />
                    340 g
                  </p>
                </div>
              </div>
            </div>

            <div class="product-card">
              <div class="card-content">
                <img src="../../assets/Products/Coco Pops Cruncher.png" alt="" />

                <div class="product-desc">
                  <p class="product-name">VKellogg's® Coco Pops® Crunchers</p>
                  <p class="product-size">
                    Available Sizes <br />
                    375 g
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="brand-container">
        <div class="title-container">
          <div class="text-container">
            <h1>Our Brands</h1>
            <p>VKellogg’s strives to provide a delicious choice of brands that people know, trust and enjoy.</p>
          </div>
          <img src="../../assets/Brands/Brand Title.png" alt="">
        </div>

        <div class="brands">
          <img src="../../assets/Brands/Eggo.png" alt="">
          <img src="../../assets/Brands/Carrs.png" alt="">
          <img src="../../assets/Brands/Cheez it.png" alt="">
          <img src="../../assets/Brands/Club.png" alt="">
          <img src="../../assets/Brands/Graham.png" alt="">
          <img src="../../assets/Brands/Pop tarts.png" alt="">
          <img src="../../assets/Brands/Nutrigrain.png" alt="">
          <img src="../../assets/Brands/Special K.png" alt="">
          <img src="../../assets/Brands/Pringles.png" alt="">
          <img src="../../assets/Brands/Rice Krispies Treats.png" alt="">
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="content">
          <div class="logo-box">
            <a href="../../index.html"
              ><img src="../../assets/Logo (white).svg" alt=""
            /></a>
          </div>

          <div class="information">
            <div class="reach-us info">
              <p class="footer-txt footer-subtitle">Reach Us</p>
              <div class="reach-us-info">
                <img src="../../assets/Icn Phone.svg" alt="" />
                <p class="footer-txt">+62 855 6432 80818</p>
              </div>
              <div class="reach-us-info">
                <img src="../../assets/Icn Email.svg" alt="" />
                <p class="footer-txt">vkellogg@gmail.com</p>
              </div>
              <div class="reach-us-info">
                <img src="../../assets/Icn Location.svg" alt="" />
                <p class="footer-txt location-txt">
                  Jl. Kebon Jeruk Raya No. 27, Kebon Jeruk, Jakarta Barat 11530,
                  Indonesia
                </p>
              </div>
            </div>

            <div class="legal info">
              <p class="footer-txt footer-subtitle">Legal</p>
              <ul>
                <li class="footer-txt footer-info-links">Privacy Policy</li>
                <li class="footer-txt footer-info-links">Terms & Services</li>
                <li class="footer-txt footer-info-links">Terms of Use</li>
                <li class="footer-txt footer-info-links">Refund Policy</li>
              </ul>
            </div>

            <div class="quick-link info">
              <p class="footer-txt footer-subtitle">Quick Links</p>
              <ul>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../about-us/AboutUs.html"
                    >About</a
                  >
                </li>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../contact_us/ContactUs.html"
                    >Contact</a
                  >
                </li>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../products/Products.html"
                    >Products</a
                  >
                </li>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../recipes/Recipes.html"
                    >Recipes</a
                  >
                </li>
              </ul>
            </div>

            <div class="newsletter-sosmed">
              <div class="newsletter-container">
                <div class="newsletter-content">
                  <p class="footer-txt footer-subtitle">Join Our Newsletter</p>
                  <form class="newsletter-form" id="newsletter">
                    <div class="input-email">
                      <input
                        type="text"
                        name=""
                        id="email-newsletter"
                        placeholder="Your email address"
                      />
                      <div class="subscribe" id="subscribe">
                        <img src="../../assets/Icn Send.svg" alt="" />
                      </div>
                    </div>
                    <p class="description">
                      * Will send you weekly updates for your better tool
                      management.
                    </p>
                  </form>
                </div>
              </div>

              <div class="sosmed-container">
                <div class="sosmed-icon">
                  <a href="https://www.facebook.com/" target="_blank"
                    ><img src="../../assets/Icn Fb.svg" alt=""
                  /></a>
                  <a href="https://x.com/" target="_blank"
                    ><img src="../../assets/Icn Twt.svg" alt=""
                  /></a>
                  <a href="https://www.instagram.com/" target="_blank"
                    ><img src="../../assets/Icn Ig.svg" alt=""
                  /></a>
                  <a href="https://www.discord.com/" target="_blank"
                    ><img src="../../assets/Icn Dc.svg" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-container">
            <p class="copyright-txt">
              Copyright © 2024 . 2602105090-Jennifer Ardelia Limicia, All Right
              Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="./Products.js"></script>
  </body>
</html>
