<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VKellog's</title>
    <link rel="stylesheet" href="./AboutUs.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../assets/Spilled Cereal Bowl.svg" />
  </head>
  <body>
    <nav>
      <div class="logo-container">
        <img class="logo" src="../../assets/Logo.svg" />
      </div>

      <input class="mobile-menu" type="checkbox" id="mobile-menu" />
      <label class="hamburger" for="mobile-menu">
        <div class="ham-button"></div>
      </label>

      <div class="menu">
        <ul class="page-link">
          <li class="link-container">
            <a class="link" href="../../index.html">Home</a>
          </li>
          <li class="link-container">
            <a class="link" href="../products/Products.html">Products</a>
          </li>
          <li class="link-container">
            <a class="link" href="../recipes/Recipes.html">Recipes</a>
          </li>
          <li>
            <a class="origin" href="#">About Us</a>
          </li>
          <li class="link-container">
            <a class="link" href="../contact_us/ContactUs.html"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <div class="title-container">
        <h1>About Us</h1>
        <p>
          Learn more about who we are and what drives us.
        </p>
      </div>

      <div class="banner-container">
        <div class="banner-card">
          <div class="banner-content">
            <img src="../../assets/About us/About Us Banner.png" alt="" />
            <div class="text-container">
              <h2>Who are we?</h2>
              <h1 class="section-title">Our Promise</h1>
              <p class="section-text">
                At VKellogg's, we're always trying to look for ways to nourish
                greatness. We focus on the things that encourage a healthier
                tomorrow.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="vismis-container">
        <div class="section-title-container">
          <h1 class="section-title">Our Vision, Purpose & Values</h1>
        </div>
        <div class="vismis-content">

          <p class="section-text">
            <span class="section-subtitle">Our Vision</span><br>
            A good and just world where people are not just fed but fulfilled. <br><br>

            <span class="section-subtitle">Our Purpose</span><br>
            Creating better days and a place at the table for everyone through our trusted food brands.<br><br>

            We are a company of promise and possibilities. Each day represents a fresh opportunity to share Our Vision, live Our Purpose.<br><br>

            By being mindful and committed to these ideals, we uphold our founder’s dedication to people and their well-being. And we promote an environment where we can push beyond boundaries and across borders to create foods and brands that help to fuel the best in everyone everywhere.
            It is this belief that brings us together and sets us apart.<br><br>

            <span class="section-subtitle">Our Values</span><br>
            Our values are part of our DNA. They guide the way we work with our business partners, within our communities and with each other.
            Through integrity, accountability, passion, humility, simplicity and a focus on success, we have created a vibrant company culture where ideas can blossom, people can thrive and success can flourish.
          </p>
      </div>

      <div class="story-container">
        <div class="section-title-container">
          <h1 class="section-title">Our Story</h1>
        </div>

        <div class="story-content">
          <div class="text-container">
            <p class="section-text">
              W.K. Kellogg founded our company in February 1906, 117 years ago.
              Our company’s esteemed founder was an early conservationist, a
              leading philanthropist, and the original wellbeing visionary.
              Motivated by a passion for people, quality, and innovation, he
              discovered toasted flakes cereal and shaped an entire industry.
              Those toasted flakes became world-famous as VKellogg’s Corn
              Flakes®. Kellogg's commitment to quality and innovation set a high
              standard in the food industry. His vision continues to inspire us
              to prioritize the well-being of our consumers. Find out more about
              us, our foods, and how we’re making everyday moments gr-r-reat. 

              <br><br>

              We are dedicated to creating delicious, nutritious foods that bring
              joy to your table. Our range of products reflects our commitment
              to quality and sustainability. Explore our easy and tasty recipes,
              crafted to make every meal delightful. Join us on our journey to
              make every meal a delightful experience! Learn about our
              commitment to quality and how we strive to make a positive impact
              on the world.
            </p>
          </div>

          <img src="../../assets/About us/Kellogs Grayscale.png" alt="" />
        </div>
      </div>

      
    </div>

    <footer>
      <div class="container">
        <div class="content">
          <div class="logo-box">
            <a href="../../index.html"
              ><img src="../../assets/Logo (white).svg" alt=""
            /></a>
          </div>

          <div class="information">
            <div class="reach-us info">
              <p class="footer-txt footer-subtitle">Reach Us</p>
              <div class="reach-us-info">
                <img src="../../assets/Icn Phone.svg" alt="" />
                <p class="footer-txt">+62 855 6432 80818</p>
              </div>
              <div class="reach-us-info">
                <img src="../../assets/Icn Email.svg" alt="" />
                <p class="footer-txt">vkellogg@gmail.com</p>
              </div>
              <div class="reach-us-info">
                <img src="../../assets/Icn Location.svg" alt="" />
                <p class="footer-txt location-txt">
                  Jl. Kebon Jeruk Raya No. 27, Kebon Jeruk, Jakarta Barat 11530,
                  Indonesia
                </p>
              </div>
            </div>

            <div class="legal info">
              <p class="footer-txt footer-subtitle">Legal</p>
              <ul>
                <li class="footer-txt footer-info-links">Privacy Policy</li>
                <li class="footer-txt footer-info-links">Terms & Services</li>
                <li class="footer-txt footer-info-links">Terms of Use</li>
                <li class="footer-txt footer-info-links">Refund Policy</li>
              </ul>
            </div>

            <div class="quick-link info">
              <p class="footer-txt footer-subtitle">Quick Links</p>
              <ul>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../about-us/AboutUs.html"
                    >About</a
                  >
                </li>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../contact_us/ContactUs.html"
                    >Contact</a
                  >
                </li>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../products/Products.html"
                    >Products</a
                  >
                </li>
                <li class="footer-txt">
                  <a
                    class="footer-txt footer-info-links"
                    href="../recipes/Recipes.html"
                    >Recipes</a
                  >
                </li>
              </ul>
            </div>

            <div class="newsletter-sosmed">
              <div class="newsletter-container">
                <div class="newsletter-content">
                  <p class="footer-txt footer-subtitle">Join Our Newsletter</p>
                  <form class="newsletter-form" id="newsletter">
                    <div class="input-email">
                      <input
                        type="text"
                        name=""
                        id="email-newsletter"
                        placeholder="Your email address"
                      />
                      <div class="subscribe" id="subscribe">
                        <img src="../../assets/Icn Send.svg" alt="" />
                      </div>
                    </div>
                    <p class="description">
                      * Will send you weekly updates for your better tool
                      management.
                    </p>
                  </form>
                </div>
              </div>

              <div class="sosmed-container">
                <div class="sosmed-icon">
                  <a href="https://www.facebook.com/" target="_blank"
                    ><img src="../../assets/Icn Fb.svg" alt=""
                  /></a>
                  <a href="https://x.com/" target="_blank"
                    ><img src="../../assets/Icn Twt.svg" alt=""
                  /></a>
                  <a href="https://www.instagram.com/" target="_blank"
                    ><img src="../../assets/Icn Ig.svg" alt=""
                  /></a>
                  <a href="https://www.discord.com/" target="_blank"
                    ><img src="../../assets/Icn Dc.svg" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-container">
            <p class="copyright-txt">
              Copyright © 2024 . 2602105090-Jennifer Ardelia Limicia, All Right
              Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="./AboutUs.js"></script>
  </body>
</html>
